.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media screen and (max-width: 1000px) {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 575px) {
  .image {
    position: relative;
    top: 25%;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #00724E;
  border-color: #00724E;
  font-weight: bold;
}

.social {
  background-color: #FFF;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  font-size: 24px;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin {
  color: #0e76a8;
}

.bg-green {
  background-color: #00724E;
}

/* Card styling */
.card {
  border: hidden;
}

.card-body {
  padding: 0;
}

/* Footer Styling */
.footer-side {
  padding: 45px;
}

.footer-mid {
  padding-top: 155px;
}

@media screen and (max-width: 765px) {
  .footer-mid {
    padding-top: 0;
    text-align: center;
  }

  .footer-side {
    text-align: center;
  }
}